 * {
     box-sizing: border-box;
 }

 .header {
     border-top: 1px solid #3682e5;
 }

 body {
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     line-height: 24px;
     color: #4a6385;
     font-size: 14px;
 }
.mama{
    width:14px;
     height:14px;
}

 .container {
     max-width: 1170px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .header__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 87px;
 }

 .menu__list {
     display: flex;
 }

 a {
     color: #000;
     text-decoration: none;
 }

 .menu__list li {
     margin-left: 38px;
 }

 .menu__list a {
     font-size: 14px;
     color: #2f3f54;
     font-weight: 700;
     font-family: 'Open Sans', sans-serif;
 }

 .top {
     background-color: #3682e5;
     padding-top: 150px;
     padding-bottom: 180px;
 }

 .top_inner {
     display: flex;
 }

 .menu__list li {
     list-style-type: none;
 }

 .top-info {
     max-width: 555px;
     margin-right: 50px;
     color: #fff
 }

 h2 {
     display: block;


     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
 }

 .top-info__subtitle {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }

 .top-info_title {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 48px;
     line-height: 48px;
     text-transform: uppercase;
     margin-top: auto;
     margin-bottom: auto;
 }

 .top-info_desc {
     font-size: 19px;
     font-weight: 700;
     line-height: 52px;
     margin-bottom: 35px;
 }

 .top-info_desc span {
     font-size: 14px;
     line-height: 24px;
     display: block;
     font-weight: 400;
 }

 .top-info__list {
     list-style: none;
     padding: 0px;
     margin-bottom: 50px;
 }

 .top-info__list li {
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     margin-bottom: 3px;
     position: relative;
     padding-left: 24px;
 }

 .top-info__list li::before {
     content: "";
     background-image: url(../images/3.jpg);
     width: 13px;
     height: 13px;
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
 }

 .top-info__btn {
     color: #fff;
     text-transform: uppercase;
     border: 3px solid #fff;
     padding: 13px 30px;
     border-radius: 24px;
     margin-bottom: 15px;

 }

 .top-info_btn_desc {
     margin-top: 25px;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }

 .price {
     padding: 150px 0 125px;
 }

 .container {
     max-width: 1170px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .title {
     text-align: center;
     font-size: 40px;
     font-weight: 700;
     line-height: 50px;
     font-family: 'Roboto', sans-serif;
     color: #2f3f54;
 }

 .title span {
     color: #3682e5;

 }


 .price_descr {
     text-align: center;
     max-width: 594px;
     margin: 35px auto 0px;
 }

 .price_items {
     display: flex;
     justify-content:center;

 }

 .price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgb(41 44 61 / 15%);
    padding: 0 50px 60px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
 }



 .price_item_number {
     width: 265px;
     color: #fff;
     background-color: #3682e5;
     border-radius: 136px;
     height: 465px;
     position: absolute;
     top: -370px;
     font-family: 'Roboto', sans-serif;
     font-size: 33px;
     font-weight: 700;
     display: flex;
     align-items: flex-end;
     justify-content: center;
     padding-bottom: 40px;
 }
 .price_item_number span{
     font-size: 16px;
   
 }
 .price_item_img {  
     padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
    min-height:123px;
    box-sizing: content-box;
}

 .price_item_title {
     margin-bottom: 25px;
     font-size:32px;
     line-height: 40px;
     font-weight: 700;
     font-family: 'Roboto', sans-serif;
     color: #3682e5;
 }

 .price_item_text {
     margin-bottom: 50px;
 }

 .price_item_list {
     margin-bottom: 75px;
     list-style: none;
 }
 .price_item_list li {
font-size: 16px;
line-height: 24px;
margin-bottom: 12px;
font-weight: 400;
font-family:'Roboto', sans-serif; 
padding-left: 36px;

 }
 .price_item_list li::before{
    content: ' ✓';
 }
 .price_item_btn {
     font-size:17px;
     color:#fff;
     background-color:#3682e5 ;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  padding: 20px 10px;  
 }
 